@content "./src/**/*.{html,js,ts,svelte,astro,md,mdx}";
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@font-face {
  font-family: "iAWriterQuattro";
  src: url("/iAWriterQuattroV.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-surface: #11111b;
  --color-surface-alt: #181825; /* alt background: darker */

  --color-typo: #cdd6f4; /* primary text */
  --color-typo-muted: #b4befe; /* muted text */
  --color-lines: #313244; /* borders/dividers */

  --color-accent: #cba6f7;
  --color-accent-alt: #eba0ac;

  --font-writer: "iAWriterQuattro", sans-serif;
}

html,
body {
  @apply w-full h-full bg-surface text-typo font-writer;
}
