---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.svelte";
import Qt from "../components/fun/Qt.svelte";
import About from "../content/About.mdx";
import { SEO } from "astro-seo";
---

<head>
  <SEO
    charset="utf-8"
    title="hai :3 i'm furina (dragsbruh)"
    description="i code and stuff and probably write stuff, heres some keywords for google, code, dev, programming, github."
    openGraph={{
      basic: {
        title: "hai :3 ping me im furina (@dragsbruh)",
        type: "profile",
        image: `${Astro.site}/avatar.jpg`,
      },
    }}
  />
</head>

<Layout>
  <div class="flex-grow flex h-full gap-2">
    <div class="flex-grow">
      <div class="prose prose-invert">
        <About />
      </div>
    </div>
    <div class="flex-col gap-4 hidden flex-1/3 md:flex">
      <Profile client:idle />
    </div>
  </div>
  <div class="py-8"></div>
</Layout>

<Qt client:idle />
