---
import typescript from "../assets/tech/typescript.svg";
import svelte from "../assets/tech/svelte.svg";
import docker from "../assets/tech/docker.svg";
import bun from "../assets/tech/bun.svg";
import zig from "../assets/tech/zig.svg";
import go from "../assets/tech/go.svg";

const tech: {
  name: string;
  icon: typeof docker;
}[] = [
  {
    name: "zig",
    icon: zig,
  },
  {
    name: "golang",
    icon: go,
  },
  {
    name: "typescript",
    icon: typescript,
  },
  {
    name: "svelte",
    icon: svelte,
  },
  {
    name: "docker",
    icon: docker,
  },
  {
    name: "bun",
    icon: bun,
  },
];
---

<div class="flex gap-4 flex-wrap not-prose">
  {
    tech.map((tech) => (
      <div class="flex items-center gap-2 p-4 bg-surface-alt rounded-2xl border border-lines hover:scale-105 hover:bg-surface transition-all cursor-pointer duration-100">
        <tech.icon class="w-8 h-8" />
        <p class="text-lg">{tech.name}</p>
      </div>
    ))
  }
</div>

<p class="mt-4">...and many more</p>
