---
import typescript from "../assets/tech/typescript.svg";
import archlinux from "../assets/tech/archlinux.svg";
import postgres from "../assets/tech/postgres.svg";
import forgejo from "../assets/tech/forgejo.svg";
import elixir from "../assets/tech/elixir.svg";
import svelte from "../assets/tech/svelte.svg";
import docker from "../assets/tech/docker.svg";
import ocaml from "../assets/tech/ocaml.svg";
import rust from "../assets/tech/rust.svg";
import bun from "../assets/tech/bun.svg";
import zig from "../assets/tech/zig.svg";
import go from "../assets/tech/go.svg";

const tech: {
  name: string;
  icon: typeof docker;
  url: string;
  incomplete?: boolean;
}[] = [
  {
    name: "arch linux (btw)",
    icon: archlinux,
    url: "https://archlinux.org",
  },
  {
    name: "zig",
    icon: zig,
    url: "https://ziglang.org",
  },
  {
    name: "ocaml",
    icon: ocaml,
    url: "https://ocaml.org",
    incomplete: true,
  },
  {
    name: "rust",
    icon: rust,
    url: "https://rust-lang.org",
    incomplete: true,
  },
  {
    name: "golang",
    icon: go,
    url: "https://go.dev",
  },
  {
    name: "elixir",
    icon: elixir,
    url: "https://elixir-lang.org",
    incomplete: true,
  },
  {
    name: "typescript",
    icon: typescript,
    url: "https://www.typescriptlang.org",
  },
  {
    name: "svelte",
    icon: svelte,
    url: "https://svelte.dev",
  },
  {
    name: "bun",
    icon: bun,
    url: "https://bun.sh",
  },
  {
    name: "docker",
    icon: docker,
    url: "https://docker.com",
  },
  {
    name: "postgresql",
    icon: postgres,
    url: "https://www.postgresql.org",
  },
  {
    name: "forgejo",
    icon: forgejo,
    url: "https://forgejo.org/",
  },
];
---

<div class="flex gap-4 flex-wrap not-prose">
  {
    tech.map((tech) => (
      <a
        href={tech.url}
        target="_blank"
        class="flex items-center gap-2 p-4 bg-surface-alt rounded-2xl border border-lines hover:scale-105 hover:bg-surface transition-all cursor-pointer duration-100"
        title={
          tech.incomplete
            ? "im not quite proficient in this yet, see my past projects on github and you may find where im at now"
            : ""
        }
      >
        <tech.icon class="w-8 h-8" />
        <p class="text-lg relative">
          {tech.name}
          {tech.incomplete && (
            <span class="absolute text-gray-500 -translate-y-3">*</span>
          )}
        </p>
      </a>
    ))
  }
</div>

<p class="mt-4">...and many more</p>
