{% extends "_base.html" %}

{% import "_macros.html" as macros %}

{% block head %}

{{ macros::opengraph(title="yappity yap yap -<", description="yap yap yap yap yap yap meow yap yap yap", url="/yaps/") }}

{% endblock %}

{% block content %}

<h2>{{ section.title }}</h2>

{{ section.content | safe }}

<div style="display: flex; flex-direction: column; gap: 24px; padding: 12px 0;">
  {% for page in section.pages %}
    <div style="border-width: 1px; border-color: var(--text-muted); border-style: dashed; padding: 8px;">
      <div style="border-width: 1px; border-color: var(--text-muted); border-bottom-style: dashed; margin-bottom: 16px;">
        <a href="#{{ page.slug }}" class="nostyle" style="color: var(--text-color); text-decoration: none;">
          <h3 id="{{ page.slug }}">{{ page.title | safe }}</h3>
        </a>
        <small style="color: var(--text-muted);">{{ page.date }}</small>
      </div>
      
      <div style="padding: 0 8px;" class="md">
        {{ page.content | safe }}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
