---
import Navbar from "../components/Navbar.astro";
import Umami from "../components/Umami.astro";
import "../styles/global.css";

import { type SEOProps, SEO } from "astro-seo";

export interface Props {
  seo?: SEOProps;
}

const defaultSeo: SEOProps = {
  title: "hai :3 i'm furina (dragsbruh)",
  charset: "utf-8",
  description:
    "i code and stuff and probably write stuff, heres some keywords for google, code, dev, programming, github.",
  openGraph: {
    basic: {
      title: "hai :3 i'm furina (dragsbruh)",
      image: `${Astro.site}/avatar.png`,
      type: "profile",
    },
  },
};

const props: Props = {
  ...Astro.props,
  seo: { ...defaultSeo, ...(Astro.props.seo ?? {}) },
};

const { seo } = props;
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Umami />

    <SEO {...seo} />
  </head>
  <body>
    <div class="w-full h-full flex justify-center">
      <div class="w-full xl:w-3/4 max-w-[1080px] flex flex-col">
        <Navbar />
        <div class="px-10">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
