---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      src="https://tracking.hearth.is-a.dev/script.js"
      data-website-id="2037ba18-ad55-4fd6-a10a-8a87cba4e94b"></script>
  </head>
  <body>
    <div class="w-full h-full flex justify-center">
      <div class="w-full xl:w-3/4 max-w-[1080px] flex flex-col">
        <Navbar />
        <div class="px-10">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
