name: deploy to github pages

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      image: ghcr.io/getzola/zola:v0.22.0

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: build with zola
        run: docker run -v ./:/app/ -w /app --rm "$image" build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
          
  deploy:
    needs: build
    runs-on: ubuntu-latest
    
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - id: deploy
        name: deploy to pages
        uses: actions/deploy-pages@v4
